.auth-container {
    padding: 1rem;
    margin: auto;
    width: fit-content;
    margin-top: 20%;

}

.auth-container .auth-title{
    margin-bottom: 0.2rem;
    text-transform: capitalize;
}

.auth-container label{
    margin-top: 1rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-button{
    border: none;
    background: none;
    outline: none;
    color: blue;
    cursor: pointer;
}